<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Proxy" stopProcessing="true">  
					<match url=".*" />
					<action type="Rewrite" url="https://{HTTP_HOST}/dist/index.html" />
				</rule>
        	</rules>
        </rewrite>
    </system.webServer>
</configuration>