<configuration>
    <system.webServer>
        <rewrite>
            <rules>
            <rule name="o2c_files" stopProcessing="true">
              <match url="(\w*)\/+api\/+(documentation\/+)?(o2c.html)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="static_files" stopProcessing="true">
              <match url="(\w*)\/+api\/+(documentation\/+)?(.*\.js|.*\.css|.*\.png)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="index_page" stopProcessing="true">
              <match url="(\w*)\/+api\/+documentation\/*" />
              <action type="Rewrite" url="/dist/index.html?tenant={R:0}" />
            </rule>
            <rule name="o2c_files" stopProcessing="true">
              <match url="(\w*)\/+api\/+(documentationlatest\/+)?(o2c.html)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="static_files" stopProcessing="true">
              <match url="(\w*)\/+api\/+(documentationlatest\/+)?(.*\.js|.*\.css|.*\.png)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="index_page" stopProcessing="true">
              <match url="(\w*)\/+api\/+documentationlatest\/*" />
              <action type="Rewrite" url="/dist/index.html?tenant={R:0}" />
            </rule>
        	</rules>
        </rewrite>
    </system.webServer>
</configuration>
