<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Proxy" stopProcessing="true">  
					<match url=".*(\.css|\.js|\.png)" negate="true" />
					<action type="Rewrite" url="/dist/index.html" />
				</rule>
        	</rules>
        </rewrite>
    </system.webServer>
</configuration>